{% extends 'layouts/base.html' %}

{% block title %}IT Asset Management{% endblock %}
{% block meta_description %} An IT Asset Management System is a software
application that helps you manage your IT assets. {% endblock %}

{% block body %}
<!-- 2 Column Hero Section with Title, 4 buttons on the left and a hero image on the right -->
<div class="row flex-sm-wrap-reverse hero">
  <div class="col-md-6 text-left">
    <h1 class="hero-title">Asset Management</h1>
    <p class="hero-subtext">
      Welcome to your Asset Management system. Where you can inventory, track and monitor all your IT assets.
    </p>

    <!-- 2 Column 2 Row grid of buttons of different colors -->
    <div class="flex flex-col flex-wrap hero-button-group">

      <button class="hero-1-highlight px-3 py-3 mt-3 mr-3">Hardware</button>
      <button class="hero-2-highlight px-3 py-3 mt-3 mr-3">Other</button>
      <button class="hero-3-highlight px-3 py-3 mt-3 mr-3">Software</button>
    </div>


  </div>
  <div class="col-md-6">
    <img src="https://via.placeholder.com/600x400" alt="IT Asset Management" class="img-fluid" />

  </div>
</div>
{% endblock %}