{% extends "base_sidebar.html" %}
{% load widget_tweaks %}

{% load static %}

{% block title %} Home {% endblock title %}
{% block content %}

<div class="container py-5 my-5" style="max-width: 980px;">
    <div class="row" style="color: #ea2088; font-style: bold; font-size: 3rem; ">
        <div class="col-md-8">Inventory Summary</div>
        <div class="col-md-4">               
            <div style="float:right;"> <a class="btn btn-success" href="#">Add New Item</a> </div>
        </div>
    </div>
    <div class="row" style="color: #fff">An Inventory Management System</div>
    <br><br><br>
    <div style="border-bottom: 1px solid white;"></div>
   

    <div>
      <table class="table table-hover">
        <form method="get">
            <div class="input-group search">
                {% render_field filter.form.name class="form-control textinput" placeholder="Search by Hardware name" %}
                <div class="input-group-append">
                   <button type="submit" class="btn btn-pink"> Search </button>
                </div>
            </div>
        </form>
          <thead>
           <tr>
             <th>ID</th>
             <th></th>
             <th>Asset Type</th>
             <th></th>
             <th>Manufacturer</th>
             <th></th>
             <th>Owner</th>
             <th></th>
             <th>OS Version</th>
             <th></th>
             <th>End of Support</th>
           </tr>
          </thead>
          <tbody>

          {%for data in context.%}
           <tr>
             <td>{{data.id}}</td>
             <td></td>
             <td>{{data.asset_type}}</td>
             <td></td>
             <td>{{data.manufacturer}}</td>
             <td></td>
             <td>{{data.owner}}</td>
             <td></td>
             <td>{{data.OS}}</td>
             <td></td>
             <td>{{data.EOS}}</td>
           </tr>

          {% endfor %}

        </table>
{% if not has_inventory %}
<div class="alert alert-warning" role="alert">
  You have no inventory yet. <a href="#" class="alert-link">Add new inventory item</a>
</div>      
  
{% endif %}
    </div>
  </div>

{% endblock content %}